doctype html
html
    head
        meta(charset='utf-8')
        title ITB Room Finder
        link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='style.css')
    
        style#applicationStylesheet(type='text/css').

    body
        // Here is our main header that is used across all the pages of our website
        header
            img(src='images/ITB.jpg', alt='ITB airborne')
            h1 ITB Room Finder
            h2 Silakan masukkan nama ruang yang anda ingin cari!

    main
        // It contains an article
        form#demo(action='tesxd/Beranda_Utama.html', method='get')
        input(type='search', name='q', placeholder='Contoh : 9023')
        input(type='submit', value='Go!')

    footer
p ©Copyright 2050 by nobody. All rights reversed.
